.card-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background-color: #65a300;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    transition: .9s;
    margin: 5px;
}

.card:hover {
    /* opacity: .8; */
    background-color: #070817;
}
.card p {
    font-weight: 700;
    color: #FFF;
}


