body {
    background-color: #E5E5E5;
    padding: 30px;
}
h1 {
    font-family: 'Ubuntu';
    text-align: center;
}

p {
    font-family: 'Ubuntu';
    font-weight: 400;
}

.box {
    min-height: '100%';
    background-color: #FFF;
    border-radius: 15px;
    padding: 15px;
}