.container-menu .button {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #070817;
    display: flex;
    align-items: center;
    transition: opacity 0.2s;
}

.container-menu .button svg {
    margin-right: 15px;
}

.container-menu .button:hover {
    opacity: 0.8;
}